<% for (let i = 0; i < favoritesArray.length; i++) {%>
    <% let favoriteItem = favoritesArray[i].get() %>
    <p><%= favoriteItem.title %></p>
    <p><%= favoriteItem.whateverone %></p>
    <p><%= favoriteItem.whatever2 %></p>
<%}%>